.stats-main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    width: 70%;
    margin-left: 15%;
    margin-top: 21%;
    padding: 1%;
    font-family: 'Burbank';
}

.stats-block-left {
    height: 98%;
    border: 2px solid #5fae1d;
    width: 35%;
    font-family: 'Burbank';
}

.stats-block-right {
    height: 98%;
    width: 55%;
}

.stats-solo {
    height: 30%;
    border: 2px solid #10daef;
    margin-bottom: 3%;
}

.stats-duo {
    height: 30%;
    border: 2px solid #f98033;
    margin-bottom: 3.3%;
}

.stats-squad {
    height: 30%;
    border: 2px solid #d662f3;
}

/*Left block`s header*/

.stats-block-left-header {
    height: 9% !important;
    background: rgba(2, 230, 97, 0.795) !important;
    color: white;
    font-size: 30px;
}

.stats-header {
    color: white;
    font-family: 'Burbank';
    font-size: 30px;
    height: 30%;
    margin-bottom: 2%;
}

.left-block-header-name {
    float: left;
    margin: 1% 0 1% 2%;
}

.left-block-header-games-value {
    float: right;
    margin: 1% 2% 1% 0;
}

/*Left block content*/

.stats-block-left-content {
    padding-right: 5px;
}

/* Player`s logo */

.player-logo {
    margin-left: -2%;
    padding-bottom: 12%;
    margin-bottom: 10%;
    max-width: 350px;
    max-height: 150px;
}

/* Content */

.name {
    text-align: center;
    color: white;
    font-size: 64px;
    margin-bottom: 10%;
}

.stats-block-left-statistics {
    flex-direction: row;
}

li {
    list-style: none;
}

.left-block-statistics-div {
    float: left;
}

.general-li-value {
    font-size: 24px !important;
    color: white !important;
    padding-bottom: 20px;
}

.stats-ul>li {
    font-size: 31.5px;
    margin-left: 22px;
}

/*Right block`s headers*/

.stats-block-right-solo-header {
    background: #10daef;
}

.duo-header {
    background: #f98033;
}

.squad-header {
    background: #d662f3;
}

/*  Media  */

@font-face {
    font-family: 'Burbank';
    src: url('../fonts/burbank-big-condensed-black.otf');
  }