* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

.nav {
    background: black;
    height: 65px;
    z-index: 250;
    position: relative;
}

.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3em;
}

.logoH {
    font-family: 'Burbank';
    font-size: 64px;
    color: white;
}

.main_list {
    float: right;
    height: 65px;
    margin-right: 8%;
}

.navLinks {
    display: flex;
    width: 100%;
    height: 65px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks>li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 6rem;
}

a {
    text-decoration: none;
    color: white;
    line-height: 65px;
    font-family: 'Burbank';
    font-size: 28px;
}

#services {
    color: white;
    line-height: 65px;
    cursor: default;
    font-family: 'Burbank';
    font-size: 28px;
}

#servicesMenu {
    background-clip: padding-box;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
    color: white;
    display: block;
    width: 200px;
    height: 215px;
    top: -225px;
    /* right: 19%; */
    background: red;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all ease 1s;
    margin-left: 70%;
    list-style: none;
}

#serviceLink {
    margin-left: 30px;
    margin-top: 5px;
    font-family: 'Burbank';
    font-size: 22px;
}

.main {
    background: url(../images/bg1.jpg);
    width: 75%;
    height: 90%;
    position: absolute;
    left: 12.4%;
    text-align: center;
}

.stats-search {
    position: absolute;
    width: 100%;
    top: -10%;
    height: 50%;
    transition: all ease 1s;
}

.nicknameInput {
    position: relative;
    height: 15%;
    display: flex;
    padding-left: 20px;
    width: 50%;
    color: black;
    outline: none;
    margin-top: 15%;
    margin-left: 25%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.mainInputLabel {
    position: absolute;
    top: 35%;
    left: 35%;
    font-family: 'Burbank';
    font-size: 44px;
    color: white;
}

.selectPlatform {
    position: absolute;
    left: 58.5%;
    top: 49.5%;
    display: block;
    height: 15%;
    outline: none;
}

#platform {
    position: relative;
    height: 100%;
    border: none;
    background: rgb(241, 245, 0);
    font-family: 'Burbank';
    font-size: 19px;
    outline: none;
}

#choosePlatform {
    display: none;
}

.submitButton {
    position: absolute;
    height: 15%;
    top: 49.5%;
    left: 67.9%;
    border: none;
    width: 8.5%;
    background: black;
    color: white;
    font-family: 'Burbank';
    font-size: 40px;
}

.block-left {
    position: absolute;
    width: 12.5%;
    height: 90%;
    background: #0452b4;
    text-align: center;
}

.f, .o, .r, .t, .n, .i, .t, .e {
    font-family: 'Burbank';
    margin-top: 20px;
    font-size: 84px;
    color: white;
}

.block-right {
    float: right;
    width: 12.6%;
    height: 900px;
    background: #0452b4;
    text-align: center;
}


.statistic {
    position: relative;
    width: 75%;
    height: 20%;
    margin-left: 12.5%;
    margin-top: 5.5%;
    display: grid;
}

.statistic-all {
    position: fixed;
    display: block;
    height: 18%;
    width: 50%;
    margin-left: 4%;
    margin-top: 8%;
    background: blue;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.statistic-all-ul {
    position: relative;
    display: flex;
    color: white;
    height: 40%;
    background: blue;
    padding-bottom: 1%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.statistic-all-ul>li {
    width: auto;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 10rem;
    font-family: 'Burbank';
    font-size: 32px;
    margin-top: 2%;
}

.statistic-all-ul-values {
    width: auto;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 9.5rem;
    font-family: 'Burbank';
    font-size: 32px;
    margin-top: 1%;
    margin-bottom: -50%;
}

.statistic-all-ul-values>li {
    width: auto;
    display: flex;
    padding: 0;
    margin: 0;
    padding-right: 13.3rem;
    font-family: 'Burbank';
    font-size: 32px;
    color: white;
}

.statistic-gamemodes {
    position: absolute;
    display: block;
    height: 30%;
    width: 337px;
    z-index: 100;
    border: 1px solid red;
}

/*  Footer styles  */

.footer {
    float: right;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 92%;
    background: #0452b4;
}

#work {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin-left: 41%;
    font-size: 16px;
    color: white;
}


#copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin-top: 30px;
    margin-left: 55px;
    font-size: 16px;
    color: white;
}

.icons {
    position: absolute;
    top: 25%;
    left: 87.2%;
    padding-right:5% ;
}

/*  Media  */

@font-face {
    font-family: 'Burbank';
    src: url('../fonts/burbank-big-condensed-black.otf');
  }

@media only screen and (max-width: 1366px) {
    .f, .o, .r, .t, .n, .i, .t, .e {
        font-size: 40px;
    }

    .stats-search {
        left: -2%;
        top: -10%;
    }

    #servicesMenu {
        margin-left: 78%;
    }

    .nicknameInput {
        height: 20%;
    }

    .mainInputLabel {
        left: 31%;
    }

    .submitButton {
        height: 20.5%;
        top: 54.5%;
        left: 70%;
    }

    .selectPlatform {
        height: 20.5%;
        top: 54.5%;
        left: 57%;
    }

    #copyright {
        margin-top: 1%;
    }

}

@media only screen and (max-width:1360px) {
    .submitButton {
        top: 54%;
        left: 68.5%;
    }

    .selectPlatform {
        top: 54%;
        left: 56%;
    }
}

@media only screen and (max-width:1326px) {
    .f, .o, .r, .t, .n, .i, .t, .e {
        font-size: 32px;
    } 

    .submitButton, .selectPlatform {
        top: 61.5%;
        height: 20.5%;
    }

}

@media only screen and (max-width:1280px) {
    .nicknameInput {
        font-size: 22px;
    }

    .submitButton {
        top: 51%;
        left: 69%;
    }

    .selectPlatform {
        top: 51%;
        left: 55%;
    }
}